/* You can add global styles to this file, and also import other style files */
body{
  background: #ddd;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb{
  background-color: #ffc107;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #212529;
}
#myNavBar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
