<div class="container mt-5">
  <div class="text-center ">
    <ul class="list-group bg-dark text-light shadow-lg">
      <li class="list-group-item bg-warning text-dark">Features I Used Of Angular</li>
      <li class="list-group-item bg-dark text-light">Routing</li>
      <li class="list-group-item bg-dark text-light">Services</li>
      <li class="list-group-item bg-dark text-light">Models</li>
      <li class="list-group-item bg-dark text-light">Lazy Load Library For Images <span class="badge bg-warning text-dark">Used By Google In Their Projects</span></li>
      <li class="list-group-item bg-dark text-light">Http Client Module <span class="badge bg-warning text-dark">Get Data From Api</span></li>
      <li class="list-group-item bg-dark text-light">Admin Auth</li>
      <li class="list-group-item bg-dark text-light">Pipes</li>
      <li class="list-group-item bg-dark text-light">*ngIf & *ngFor</li>
      <li class="list-group-item bg-dark text-light">Event Click</li>
    </ul>
  </div>
  <div class="text-center my-2">
    <ul class="list-group bg-dark text-light shadow-lg">
      <li class="list-group-item bg-warning text-dark">Lazy Load Image Example</li>
      <li class="list-group-item bg-dark text-light"><a class="link-light text-decoration-none" href="https://www.imperva.com/learn/performance/lazy-loading/" target="_blank">Know About Lazy Load <span class="badge bg-secondary text-warning">Click Here</span></a></li>
      <li class="list-group-item bg-dark text-light">

        <img class="m-2" height="500" width="500" [lazyLoad]="image1">
        <img class="m-2" height="500" width="500" [lazyLoad]="image2">
        <img class="m-2" height="500" width="500" [lazyLoad]="image3">
        <img class="m-2" height="500" width="500" [lazyLoad]="image4">
      </li>

    </ul>

  </div>

</div>
